<h2>Sign Up</h2>
<form action="/auth/signup" method="POST">
    <label for="new-firstName">First Name</label>
    <input id="new-firstName" type="text" name="firstName">

    <label for="new-lastName">Last Name</label>
    <input id="new-lastName" type="text" name="lastName">

    <label for="new-age">Age</label>
    <input id="new-age" type="number" name="age">

    <label for="new-email">Email</label>
    <input id="new-email" type="email" name="email">
  
    <label for="new-password">Password</label>
    <input id="new-password" type="password" name="password">
  
    <input type="submit" value="Sign up">
</form>