<section id="search" class="search-wrap">
    <div class="container">
        <h1>Find An Apartment Listing</h1>
        <form action="/apartment/search" method="GET" class="search-form">
            <i class="fas fa-search"></i>
            <div class='form-group'>
                <div class="container">
                    <label for="location">Search Location</label>
                </div>
            </div>

            <div class='form-group'>
                <div class="container">
                    <input type="search" name="location" id="location" placeholder="Williamsburg, Brooklyn">
                </div>
            </div>

            <div class='form-group'>
                <div class="container">
                    <input type="submit" class="btn btn-primary" value="search">
                </div>
            </div>
        </form>
    </div>
</section>