<section id="search" class="search-wrap">
    <h1>Find An Apartment Listing</h1>
    <form action="/apartment/search" method="GET" class="search-form">
        <i class="fas fa-search"></i>
        <input type="search" placeholder="Brooklyn, Manhattan, LES, Bedstuy, Williamsburg, etc....">
        <input type="submit" value="search">
    </form>
</section>

