<section id="search" class="search-wrap">
    <div class="container">
    <h1>Find An Apartment Listing</h1>
    <form action="/apartment/search" method="GET" class="search-form">
        <i class="fas fa-search"></i>
        <label for="location">Search Location</label>
        <input type="search" name="location" id="location" placeholder="Brooklyn, Manhattan, LES, Bedstuy, Williamsburg, etc....">
        <input type="submit" value="search">
    </form>
    </div>
</section>

