<h2><%= currentUser.firstName %>'s Profile</h2>
<button type="button" class="mh-header-primary svelte-nh39uj mh-menu-closed" aria-expanded="false" aria-controls="mh-mobile-navigation"><span class="mh-sr-only svelte-nh39uj">Toggle navigation</span> <span class="mh-icon-bar svelte-nh39uj"></span> <span class="mh-icon-bar svelte-nh39uj"></span> <span class="mh-icon-bar svelte-nh39uj"></span></button>