<h1 class="pageTitle">Your Favorite Apartments</h1>
<%apartments.forEach(apartment=> {%>
    <h3>
        <a href="/apartment/<%= apartment.id %>">
            <%= apartment.title %>
        </a>
    </h3>
    <form action="/apartment/<%= apartment.id %>?_method=DELETE" method="post">
        <button type="submit" class="btn btn-danger">Remove From Faves</button>
    </form>
    <%})%>