<!-- ALL LISTINGS PAGE -->
<div class="container">
  <h1>Apartments</h1>
</div>

<div class="container">
  <% apartments.forEach(function(apartment) { %>
    <div class="well">
      <h2>
        <a href="/apartment/<%= apartment.id %>">
          <%= apartment.title %>
            $<%= apartment.rent %>/month
        </a>
      </h2>
    </div>
    <% }) %>

      <a href="/auth/signup">Sign Up</a>

      <hr />

      <a href="/">&larr; Back Home</a>
</div>