<!-- SEARCH RESULTS -->
<%if(apartments===undefined) {%>
    <h3>No Results Found</h3>
    <small>check your spelling and punctuation and try again</small>
    <%} else {%>
        <ul>
            <%apartments.forEach(function(apartment) {%>
                <li>
                    <a href="/apartment/<%=apartment.title%>">
                        <%=apartment.title%>
                    </a>
                    <small>(<%=apartment.rent%>)</small>
                    <small>(<%=apartment.location%>)</small>
                </li>
                <%})%>
        </ul>
        <%}%>