<h1>Apartment: <%= apartment.title %></h1>

<p><%= apartment.title %></p>
<a href="/apartment/new" class="btn btn-primary">Create Listing</a>

<hr />

<h2>Apartment Listings</h2>

<% if(apartment && apartment.tags) { %>
  <% apartment.tags.forEach(function(a) { %>
    <div class="well">
      <h3>
        <a href="/tag/<%= a.id %>"><%= a.title %></a>
      </h3>
    </div>
  <% }) %>
<% } else { %>
  <h3>No listings yet!</h3>
<% } %>