<!-- ALL TAGS PAGE -->
<div class="container">
  <% tags.forEach(function(tag) { %>
    <div class="well">
      <h2>
        <a href="/tags/<%= tag.id %>">
          <%= tag.name %>
        </a>
      </h2>
    </div>
    <% }) %>

      <a id="backHome" href="/">&larr; <b>Back Home</b></a>
</div>