<h1><%= tag.name %> <small>by <%= tag.name %></small></h1>

<p><%= tag.name %></p>

<div class="listings">

    <div class="container">
      <p><b>Tags</b> $<%= tag.name %>
      </p>
    </div>
<!-- I want all apartments to appear with the associated tag(s) (keyword search). For example if I click on a tag, I want any listing linked to that tag to appear -->

