<h1><%= tag.name %> <small>by <%= tag.apartment.title() %></small></h1>

<p><%= tag.apartment.title %></p>

<!-- I want all apartments to appear with with the associated tag (keyword search). For example if I search pets, I want any listing linked to a tag pet(s) to appear -->

