<!-- ALL APARTMENTS WITH ASSOCIATED TAG PAGE -->
<div class="container">
  <h1 class="pageTitle">Apartment with Tags</h1>
 
  
                      <a id="backHome" href="/">&larr; <b>Back Home</b></a>
         
        
              </div>